.nav {
	position: fixed;
	right: 10px;
	top:50%;
	width: 40px;
	height: 120px;
	margin-top: -60px;
}


.nav ul {
	list-style: none;
	margin: 0;

}

.nav ul li {
	text-align: center;
	height: 40px;
}

.nav ul li a {
	display: block;	
	font-size: 60px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.nav ul li a.active {
	color:#0F587E;
}


.has-tip {
	border: none;

	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-ms-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}

.has-tip:hover {
	border: none;
	color:#dedede;
}

.tooltip {
	min-width: 90px;
	border-radius: 4px;
	text-align: center;
}


span.tip-left {
	position: fixed;
}

body > span.tip-left {
	margin-right: 100px;

	font-size: 9px;
}

.full {
	padding-top: 100px;
	background-color: #efefef;
	border-top: 12px solid #dcdcdc;
	border-bottom: 12px solid #fff;

	z-index:1000;
}

body > section > div.row > div > h3:nth-child(1) {
	margin-top: 200px;
	margin-bottom: 50px;
}

body > section > div.row > div > p:last-child {
	margin-bottom: 200px;
}

.sticky {
	position: fixed;
	top:-30px;
	width: 200%;
	height:30px;
	background-color: lightblue;
	z-index:90;

	border-left: 2000px solid lightblue;
	margin-left:-2000px;
	padding-top: 4px;
}

.sticky h3 {
	font-size: 12px;
	color:#fff;
}
